<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Contact Form Submission</title>
  </head>
  <body style=font-family:Arial,sans-serif;font-size:16px;line-height:1.4;color:#333>
    <table border=0 cellpadding=0 cellspacing=0 width=100% style=background-color:#f3ecff>
      <tr>
        <td align=center>
          <table border=0 cellpadding=0 cellspacing=0 width=600 style=max-width:600px>
            <tr>
              <td style="padding:40px 20px;background-color:#6a6ffd" align=center>
                <img alt="Tayden Flitcroft" height=100 src=https://taydenflitcroft.com/assets/favicon-96x96.ico style=display:block width=100>
                <h1 style=margin-top:20px;margin-bottom:10px;color:#fff>New Contact Form Submission</h1>
                <p style=font-size:14px;margin-bottom:0;color:#fff>Submitted on: {{date}}
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding:40px 20px" align=left>
                <h2 style=margin-bottom:20px;color:#6a6ffd>Contact Information</h2>
                <table border=0 cellpadding=0 cellspacing=0 width=100%>
                  <tr>
                    <td width=30% style=padding-right:10px>Name:</td>
                    <td width=70%>{{senderName}}</td>
                  </tr>
                  <tr>
                    <td width=30% style=padding-right:10px>Email:</td>
                    <td width=70%>{{returnEmail}}</td>
                  </tr>
                  <tr>
                    <td width=30% style=padding-right:10px>Subject:</td>
                    <td width=70%>{{emailSubject}}</td>
                  </tr>
                  <tr>
                    <td width=30% style=padding-right:10px>Message:</td>
                    <td width=70%>{{emailMessage}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style=padding:20px;background-color:#b6aee5 align=center>
                <p style=font-size:14px;margin-bottom:10px;color:#fff>This email was sent from a contact form on your website. Please do not reply to this email.</p>
                <p style=font-size:14px;margin-bottom:10px;color:#fff>© {{copyrightDate}} Tayden Flitcroft. All rights reserved.</p>
              </td>
          </table>
    </table>
  </body>
</html>